.wrapper {
    height: 400px;
}

.innerContent {
    max-width: 1120px;
    margin: 0 auto;
    height: 330px;
    padding: 35px 20px;
}

.aboutZettlerContainer {
    float: left;
    height: 100%;
    width: 50%;
}

.aboutZettler {
    margin: 0 auto;
    width: 100%;
    height: 330px;
    background-color: rgb(28,109,235);
    color: white;
    font-family: 'Source Sans Pro';
}

.aboutZettler h2 {
    padding-top: 30px;
    font-weight: 300;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
}

.aboutZettler p {
    padding: 10px 25px;
    color: #dedede;
}

.aboutZettler div {
    text-align: center;
    width: 100%;
    padding-top: 25px;
}

.aboutZettler div button {
    padding: 10px 20px;
    background-color: white;
    outline: 2px solid white;
    outline-offset: 2px;
    border: none;
    color: rgb(28,109,235);
    font-family: 'Source Sans Pro';
    font-size: 20px;
    cursor: pointer;
}

.aboutZettler a {
    text-decoration: none;
    color: rgb(28,109,235);
}

.aboutZettler a:link {
    color: rgb(28,109,235);
}

.aboutZettler div button:hover {
    outline-offset: 3px;
    transform: scale(1.1);
}

.zLogoDiv {
    float: right;
    height: 100%;
    width: 50%;
}

.zLogo {
    width: 100%;
    vertical-align: middle;
    margin-right: 20px;
}

.zLogo img {
    max-width: 95%;
    padding-left: 5%;
    margin-top: 175px;
    transform: translateY(-50%);
}



/* Breakpoint for < 860px width needs to be made. Image tears at this point */
/* Either one media query for all cell phones and this size or cell phone size and tweener size */
