.wrapper {
    height: 400px;
}

.innerContent {
    max-width: 1120px;
    margin: 0 auto;
    height: 330px;
    padding: 35px 20px;
}

.blogImage, .blogContent {
    width: 50%;
}

.blogImage {
    float: left;
    height: 300px;
    white-space: nowrap;
    text-align: center;
    margin: 0;
}

.helper {
    display: inline-block;
    height: 300px;
    vertical-align: middle;
}

.helper img {
    margin-top: 15%;
    margin-bottom: 15%;
    height: 70%;
    max-height: 100%;
    max-width: 100%;
}

.blogContent {
    float: right;
}

.blogContent h3{
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    font-size: 28px;
    margin: 0;
    margin-left: 8px;
    color: rgb(28,109,235);
}

.blogContent h1 {
    font-family: 'Source Sans Pro';
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 32px;
}

.blogContent p{
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    font-size: 18px;
    margin: 15px auto;
}

.blogContent button {
    float: right;
    padding: 10px 20px;
    background-color: rgb(28,109,235);
    outline: 2px solid rgb(28,109,235);
    outline-offset: 2px;
    border: none;
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    cursor: pointer;
}

.blogContent button:hover {
    outline-offset: 3px;
    transform: scale(1.1);
}

@media only screen and (max-width: 880px) {   
    .blogContent {
        float: none;
    }

    .blogContent, .blogImage {
        width: auto;
    }

    .blogImage {
        float: right;
        height: 150px;
    }
    
    .helper {
        height: 150px;
    }
    
    .helper img {
        margin: 15% 5%;
    }
}