.wrapper {
    background-color: rgb(245, 130, 47);
    height: 125px;
}

.innerContent {
    max-width: 1120px;
    margin: 0 auto;
    color: white;
    padding: 35px 20px;
}

.copyright p {
    text-align: left;
}

.linkTags {
    text-align: right;
}

.zettlerLinks a, .linkTags a {
    margin-right: 10px;
}

.zettlerLinks a {
    text-decoration: none;
}

.zettlerLinks a:visited, .zettlerLinks a:link {
    color: white;
}

.linkTags a:link, .linkTags a:visited {
    color: #66656f;
}
.linkTags i:hover{
    transform: scale(1.5);
    color: black;
}

.zettlerLinks a:hover {
    color: #66656f;
    font-weight: bold;
}

p {
    margin: 0;
}
