.wrapper {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.headerWrapper {
    width: 100%;
    overflow: hidden;
    height: 350px;
}

.absoluteWrapper {
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: 1;
}

.image {
    display: block;
    width: 100%;
    filter: brightness(80%);
    text-align: center;
    object-fit: cover;
    transform: translateY(-35%);
}

.zblog {
    position: absolute;
    top: 22%;
    left: 18%;
    max-height: 70px;
    transform: translateX(-15%);
}

.nav {
    position: absolute;
    top: 60%;
    left: 18%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-family: 'Verdana';
}

.nav a:hover {
    color: rgb(218,118,47);
    font-weight: bolder;
}

.visitZettler a {
    background-color: rgb(218, 118, 47);
    color: white;
    border-radius: 5px;
}

.visitZettler a:hover {
    background-color: rgb(204, 102, 30);
    color: white;
}

.headerDiv {
    height: 20px;
    position: absolute;
    top: 55%;
    left: 24%;
    transform: translateX(-15%);
}

@media only screen and (max-width: 880px) {
    .wrapper {
        max-width: 880px;
    }

    .image {
        height: 600px;
    }

    .zblog{
        height: 40px;
    }

    .nav a {
        padding: 12px 10px;
    }
}
